.main-content{
    position: relative;
    margin-left: 50px;
}

.image-container{
    position: relative;
    /* display: flex; */
    /* height: 90vh; */
    overflow-y: scroll;
    width: auto;
    object-fit: cover;
    margin-left: 34px;
}

.img-container::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.saved-posts{
    margin-left: 15%;
    width: 35vw;
    height: 48vh;
}
